body {background-color: rgb(161, 14, 14);
color: rgb(255, 230, 0);
background-image: url("FONDO.jpg");
background-repeat: no-repeat;
background-size: cover;
}



h1 { font-family: "showcard gothic";
     font-size: 36px;
     text-align: center;
}

h2 { font-family: "showcard gothic";
  font-size: 24px;
  text-align: center;
}

p { font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

iframe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 69vh;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  flex-direction: column;
}

.P-footer {
  font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.my-button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.my-button:hover {
  background-color: #d60202;
}

.container {
    max-width: 800px; 
    margin: auto;
    padding: 20px;
  }

  .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 20px;
  }

  .img-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
  }

  

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }



  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: rgb(255, 230, 0);
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }


  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  .img-container img {
    max-width: 100%;
    height: auto;
    margin-right: 10px; /* Ajusta el valor según la separación deseada */
  }

  .img-serv img {
  width: 15%;
  text-align: center;
  margin: 20px;
  display: inline-block;
  }